<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mercado Livre</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <!-- Cabeçalho -->
  <header>
    <div class="logo">
      <h1></h1>
    </div>
    <nav>
      <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Minha Conta</a></li>
        <li><a href="#">Carrinho</a></li>
      </ul>
    </nav>
  </header>

  <!-- Banner -->
  <section class="banner">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ae4aa3165544517.641a1ee4d4ba7.jpg" alt="Banner Principal">
  </section>

  <!-- Categorias -->
  <section class="categories">
    <h2>Categorias</h2>
    <div class="category-list">
      <div class="category-item">
        <img src="https://th.bing.com/th/id/R.6c4d41b594b67eaea4d465e06247f2cb?rik=dnII%2f9pxMPbmXA&pid=ImgRaw&r=0" alt="Categoria 1">
        <p>Eletrônicos</p>
      </div>
      <div class="category-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOtAg7xMLmNSHGVitrX0lGk1CycgJu5QLqHQ&s" alt="Categoria 2">
        <p>Lazer</p>
      </div>
      <div class="category-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBOk0e3vEqxyFQjN3RYYSGsJF2dctD_XKQJg&s" alt="Categoria 3">
        <p>Eletrodoméstico</p>
      </div>
      <div class="category-item">
        <img src="https://img.kwcdn.com/thumbnail/s/5674c91e938d1c2cf82106a84e990b48_404baecdc461.jpg?imageView2/2/w/650/q/50/format/webp" alt="Categoria 4">
        <p>Vestuário</p>
      </div>
      <div class="category-item">
        <img src="https://th.bing.com/th/id/R.fabbb093740373a723a479bf042e9242?rik=2hfR5qA2xChpMw&riu=http%3a%2f%2f1.bp.blogspot.com%2f-p6ejqpo_i64%2fVXTecWYlN2I%2fAAAAAAABRHg%2fWx1vQNqGSXE%2fs1600%2fhttpeloyetravaglini.com-082.jpg&ehk=B38pNQsgEnLVPft1QJ6yt3We7zvX90Fshf37KcycxH0%3d&risl=&pid=ImgRaw&r=0" alt="Categoria 5">
        <p>Casa e Decoração</p>
      </div>
      <div class="category-item">
        <img src="https://th.bing.com/th/id/R.de82d418a2a24a926576abddbedc4d49?rik=vcDJgJ54NkVewA&riu=http%3a%2f%2fwww.unimed.coop.br%2fportalunimed%2fcartilhas%2fcuidados-salao-beleza%2fimages%2fsalao-beleza.jpg&ehk=4ETdJ3eI5f0XSFU9BT8sTzFqXwwE0COXrKsa5JrHwBs%3d&risl=&pid=ImgRaw&r=0" alt="Categoria 6">
        <p>Beleza</p>
      </div>
    </div>
  </section>

  <!-- Produtos em Destaque -->
  <section class="featured-products">
    <h2>Produtos em Destaque</h2>
    <div class="product-list">
      <div class="product-item">
        <img src="https://media.es.wired.com/photos/6324e7f7eca5c77cdd70ba33/16:9/w_2560%2Cc_limit/Gear-Keyboard-Shortcuts-1159555273.jpg" alt="Produto 1">
        <p>Produto 1</p>
        <p class="price">R$ 199,90</p>
      </div>
      <div class="product-item">
        <img src="https://data.nssmag.com/images/galleries/25431/nss-magazine-nike-air-max-plus-tn-history-10.jpg" alt="Produto 2">
        <p>Produto 2</p>
        <p class="price">R$ 299,90</p>
      </div>
      <div class="product-item">
        <img src="https://facini.com.br/wp-content/uploads/2020/05/Liquidificador-Philips-Walita-Problend-6-RI2134-com-5-Velocidades-700W-%E2%80%93-Preto-01.png" alt="Produto 3">
        <p>Produto 3</p>
        <p class="price">R$ 149,90</p>
      </div>
      <div class="product-item">
        <img src="https://img.lojasrenner.com.br/item/541314184/zoom/1.jpg" alt="Produto 4">
        <p>Produto 4</p>
        <p class="price">R$ 89,90</p>
      </div>
      <div class="product-item">
        <img src="https://torratorra.vteximg.com.br/arquivos/ids/1241994/23121001793046.jpg?v=638279610835200000" alt="Produto 5">
        <p>Produto 5</p>
        <p class="price">R$ 249,90</p>
      </div>
      <div class="product-item">
        <img src="https://fastshopbr.vtexassets.com/arquivos/ids/501562/0_LO93900212PTO_PRD_1500_1.jpg?v=638617951153070000" alt="Produto 6">
        <p>Produto 6</p>
        <p class="price">R$ 399,90</p>
      </div>
      <div class="product-item">
        <img src="https://http2.mlstatic.com/D_NQ_NP_809826-MLB46013776166_052021-F.jpg" alt="Produto 7">
        <p>Produto 7</p>
        <p class="price">R$ 129,90</p>
      </div>
      <div class="product-item">
        <img src="https://images.tcdn.com.br/img/img_prod/839866/sofa_retratil_e_reclinavel_2_lugares_com_molas_1_50m_livia_suede_preto_adonai_estofados_1937_1_87745633823740034e215af64c505aeb.jpg" alt="Produto 8">
        <p>Produto 8</p>
        <p class="price">R$ 730,90</p>
      </div>
    </div>
  </section>

  <!-- Rodapé -->
  <footer>
    <p>&copy; 2024 Loja Online. Todos os direitos reservados.</p>
  </footer>
</body>
</html>
